<section class="content-header">
	<h1>
		Commandes
		<small>Liste</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Commandes</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Liste des commandes</h3>
					<div class="pull-right box-tools">
						<a href="#/drive/orders/add" class="btn btn-success"><span class="fa fa-plus"></span> Ajouter</a>
					</div>
				</div>
				<div class="box-body table-responsive">
					<table id="orders_table" class="table table-hover table-striped" datatable watch="orders">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in orders">
								<td>{{ order.id }}</td>
								<td><strong>{{ order.customer.lastname }} {{ order.customer.firstname }}</strong></td>
								<td>{{ order.date }}</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
</section><!-- /.content -->
