<section class="content-header">
	<h1>
		Conducteurs
		<small>Liste</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Conducteurs</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Liste des conducteurs</h3>
					<div class="pull-right box-tools">
						<a href="#/drivers/add" class="btn btn-success"><span class="fa fa-plus"></span> Ajouter</a>
					</div>
				</div>
				<div class="box-body table-responsive">
					<table id="drivers_table" class="table table-hover table-striped" datatable watch="drivers">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="driver in drivers">
								<td>{{ driver.id }}</td>
								<td>{{ driver.lastname }}</td>
								<td>{{ driver.firstname }}</td>
								<td>
									<a href="#/drivers/edit/{{ driver.id }}" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></a>
									<button ng-click="delete($index)" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
</section><!-- /.content -->
