<!doctype html>
<html ng-app="stockManager" ng-controller="ApplicationController">
<head>
	<meta charset="UTF-8">
	<title>{{ app.routeTitle }} | Stock Manager</title>

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="vendor/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="vendor/datatables/media/css/jquery.dataTables.css">
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body class="skin-blue">
	<header ng-show="isAuthenticated()" class="header">
		<a href="index.html" class="logo">
			Stock Manager
		</a>
		<nav class="navbar navbar-static-top" role="navigation">
			<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i>
							<span>{{ app.user.username }} <i class="caret"></i></span>
						</a>
						<ul class="dropdown-menu">
							<li class="user-header bg-light-blue">
								<p>
									{{ app.user.username }}
									<small>Member since Nov. 2012</small>
								</p>
							</li>
							<li class="user-body">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat">Sign out</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div ng-show="isAuthenticated()" class="wrapper row-offcanvas row-offcanvas-left">
		<aside class="left-side sidebar-offcanvas">
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left info">
						<p>Bonjour, {{ app.user.username }}</p>

						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<form ng-submit="search()" class="sidebar-form">
					<div class="input-group">
						<input type="text" ng-model="searchQuery" class="form-control" placeholder="Recherche..."/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-flat"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
				<ul class="sidebar-menu">
					<li ng-class="{ active : app.routeName == 'dashboard' }">
						<a href="#/">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li>
					<li ng-class="{ active : app.routeName == 'shops_list' }">
						<a href="#/shops/list">
							<i class="fa fa-shopping-cart"></i> <span>Magasins</span>
						</a>
					</li>
					<li ng-class="{ active : app.routeName == 'central' }">
						<a href="#/central">
							<i class="fa fa-shopping-cart"></i> <span>Centrale d'achat</span>
						</a>
					</li>
					<li class="treeview active">
						<a href="#">
							<i class="fa fa-truck"></i>
							<span>Fournisseurs</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li ng-class="{ active : app.routeName == 'suppliers_list' }"><a href="#/suppliers/list"><i class="fa fa-angle-double-right"></i> Liste</a></li>
							<li ng-class="{ active : app.routeName == 'orders_list' }"><a href="#/orders/list"><i class="fa fa-angle-double-right"></i> Commandes</a></li>
						</ul>
					</li>
					<li class="treeview active">
						<a href="#">
							<i class="fa fa-cube"></i>
							<span>Produits</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li ng-class="{ active : app.routeName == 'products_list' }"><a href="#/products/list"><i class="fa fa-angle-double-right"></i> Liste</a></li>
							<li><a href="#/sections/list"><i class="fa fa-angle-double-right"></i> Sections</a></li>
							<li><a href="#/categories/list"><i class="fa fa-angle-double-right"></i> Catégories</a></li>
						</ul>
					</li>
					<li class="treeview active">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>Transport</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#/drivers/list"><i class="fa fa-angle-double-right"></i> Conducteurs</a></li>
							<li><a href="#/vehicules/list"><i class="fa fa-angle-double-right"></i> Véhicules</a></li>
						</ul>
					</li>
					<li class="treeview active">
						<a href="#">
							<i class="fa fa-car"></i>
							<span>radian-drive.fr</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#/drive/orders/list"><i class="fa fa-angle-double-right"></i> Commandes</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>

		<aside class="right-side" ng-view></aside>
	</div><!-- ./wrapper -->

	<div class="login" ng-show="! isAuthenticated()" ng-controller="LoginController">
		<div class="form-box" id="login-box">
			<div class="header">Connexion à l'espace privé</div>
			<form ng-submit="login(credentials)" method="post" novalidate>
				<div class="body bg-gray">
					<div class="form-group">
						<input type="text" ng-model="credentials.username" name="username" class="form-control" placeholder="Nom d'utilisateur" autofocus>
					</div>
					<div class="form-group">
						<input type="password" ng-model="credentials.password" name="password" class="form-control" placeholder="Mot de passe">
					</div>
					<div class="form-group">
						<input type="checkbox" name="remember_me"> Se rappeler
					</div>
				</div>
				<div class="footer">
					<button type="submit" class="btn bg-olive btn-block">Connexion</button>

					<p><a href="#">J'ai oublié mon mot de passe</a></p>
				</div>
			</form>
		</div>
	</div>

	<div class="loading" ng-show="! isLoaded">
		<h1>Stock Manager</h1>
		<img src="img/loading.gif">
	</div>

	<!-- Javascripts -->
	<script src="vendor/lodash/dist/lodash.min.js"></script>
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-route/angular-route.min.js"></script>
	<script src="vendor/restangular/dist/restangular.min.js"></script>
	<script src="vendor/datatables/media/js/jquery.dataTables.js"></script>

	<!-- App -->
	<script src="assets/js/app.js"></script>
</body>
</html>